<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugar</title>
    <link rel="stylesheet" href="css/jugar.css">
</head>

<body>
    <%-include ("templates/nav"); %>
        <div class="main">
            <div class="main-title">
                <h1 class="machine">Maquina Tragamonedas</h1>
            </div>
            <body style="margin: 0; padding: 0;">

                <div id="container" style="width: 640px; height: 480px; margin: 0 auto; position: relative;">
                    <div id="win" style="position: fixed; z-index: 4; width: 50%; text-align: center; margin-top: 65px; display: none;">
                        <img src="img/msganador.png" width="200" height="40" />
                    </div>
                    <!-- First column-->
                    <div id="img1" style="width: 100px; height: 87px; position: absolute; left: 140px; top: 75px; z-index: 2;"><img src="img/seven.png" width="100" height="87" /></div>
                    <div id="img2" style="width: 100px; height: 87px; position: absolute; left: 140px; top: 175px; z-index: 2;"><img src="img/campana.png" width="100" height="87" /></div>
                    <div id="img3" style="width: 100px; height: 87px; position: absolute; left: 140px; top: 275px; z-index: 2;"><img src="img/diamante.png" width="100" height="87" /></div>
                    <!-- Second column-->
                    <div id="img4" style="width: 100px; height: 87px; position: absolute; left: 270px; top: 75px; z-index: 2;"><img src="img/seven.png" width="100" height="87" /></div>
                    <div id="img5" style="width: 100px; height: 87px; position: absolute; left: 270px; top: 175px; z-index: 2;"><img src="img/campana.png" width="100" height="87" /></div>
                    <div id="img6" style="width: 100px; height: 87px; position: absolute; left: 270px; top: 275px; z-index: 2;"><img src="img/diamante.png" width="100" height="87" /></div>
                    <!-- Third column-->
                    <div id="img7" style="width: 100px; height: 87px; position: absolute; left: 400px; top: 75px; z-index: 2;"><img src="img/seven.png" width="100" height="87" /></div>
                    <div id="img8" style="width: 100px; height: 87px; position: absolute; left: 400px; top: 175px; z-index: 2;"><img src="img/campana.png" width="100" height="87" /></div>
                    <div id="img9" style="width: 100px; height: 87px; position: absolute; left: 400px; top: 275px; z-index: 2;"><img src="img/diamante.png" width="100" height="87" /></div>
                    <img src="img/negro.jpg" width="640" height="122" style="margin: 0px; padding: 0px; float: left; z-index: 3; position: relative;" />
                    <img src="img/negro.jpg" width="640" height="192" style="margin: 0px; margin-top: 0px; padding: 0px; float: left; z-index: 1; position: relative;" />
                    <img id="bottom" src="img/negro.jpg" width="640" height="136" style="margin: 0px; margin-top: 0px; padding: 0px; float: left; z-index: 3; position: relative;" />
                    <p id="score" style="color: #FFF; z-index: 3; position: fixed; font-size: 26px; font-weight: bold; margin-left: 18%; margin-top: 27%;">
                        Puntaje: 000
                    </p>
                    <div style="text-align: center;" id="start">
                        <img src="img/tirar.png" width="100" height="50" style="cursor: pointer;" onclick="start();" />
                    </div>
                </div>      

        </div>
        <%-include ('templates/footer'); %>
      <script src="js/funcionalidad.js"></script>
</body>

</html>